.bg-log {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/logform.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}